<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="CSS/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.0/dist/sweetalert2.all.min.js">
        /*link de um alerta com cdn pego aqui: https://www.jsdelivr.com/package/npm/sweetalert2*/
    </script>
</head>
<body>
    <div>
        <h1>Minha Página HTML</h1>
        <p>Clique no botão abaixo para saber mais sobre o projeto</p>
        <button id="btn">Saiba Mais</button>
    </div>

    <script src="JS/script.js"></script>
</body>
</html>